
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label,
article, aside,footer, header, hgroup, 
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, footer, header, hgroup,section {
    display: block;
}

/* reset stylesheet end */
/*------Fonts-----*/
@font-face
{
    font-family: twist-font;
    src: url('../fonts/Museo700-Regular-webfont.ttf'),
        url('../fonts/Museo700-Regular-webfont..eot'), /* IE9 */
        url('../fonts/Museo700-Regular-webfont.woff');
}

body {
    width: 100%;
    margin: 0 auto;  
    line-height: 1em;
    letter-spacing: 0.025em;
    font-size: 16px;
    background: #303030;
    color:#000000;
    font-family: twist-font;
}

strong {	
    color:#007AAD;
}

em {
    color: #007AAD;
    font-size: 1.5em; /* 60/16 */
}
 h1{
    font-size: 3em; 
}

 h2{
    font-size: 1.7em;
    padding-top: 2.369%; /* 10/422 */
}
section { 
    width: 100%;
}

img{
    max-width: 100%;
    height: auto;
    width:auto\9; /* ie8 */
}

.wrapper {
    width: 980px; /* 980px */
    height: 51%; /* 520px */
    z-index: 20;
    margin: 0 auto;
    background: #ececec;
}
/*----HEADER----*/
header{
    top:0px;
    width: 100%;
    height: 40.76em;
    display: block;
    z-index: 300;
    background: url('../images/bg_header.jpg') no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#logo img {
    margin: 7% 0% 0% 0%;
    float: left;
    cursor: pointer;
    padding-left: 4.159%; /* 45/980 */
}

header article {
    width: 55%;
    margin: 8% 2% 0% 0%;
    float: right;
    -webkit-box-shadow: 0 6px 6px rgba(16, 22, 27, 1);
    -moz-box-shadow: 0 6px 6px rgba(16, 22, 27, 1);
    box-shadow: 0 6px 6px rgba(16, 22, 27, 1);
    text-align: right;
    background: black;
    opacity: 0.70;
}

header article h1{
    text-align: right;
    font-size: 2.5em;
    line-height: 1.2em;
    color: white;
}

#content{
    width: 100%;
    height: 27em;
    margin-top: -7.5em;
}

#offer{
    display: block;
    width: 43.75582573454914%; /* 422 / 980 */
    float: left;
    text-align: left;
    padding-left: 4.159%; /* 45/422 */
}

#offer hgroup{
    line-height: 3.1875em;
}

#offer p{
    padding: 0% 4.73%;
    font-family: "Arial",sans-serif; 
    line-height: 2.5em;
}

#form{
    float:right;
    padding-left: 4.159%; /* 45/980 */
    width: 43.061%;  /* 422/980 */
}

#form hgroup{
    line-height: 3em;
}

form{
    padding-top:1.5em;
    line-height: 2.5em; 
    font-family: "Arial",sans-serif; 
    word-spacing: 0.0625em;
}

form article{
    line-height: 1.5em;
    padding-bottom: 10px;
}

form strong{
    color:#ec2498;
}

input[type="text"]{
    width:69.905%;
    height: 2em;
    border:0;
    box-shadow: none;
}

/*------Submit button------*/
form #btn{
    width:61.6%;
    height:2.1em;
    text-align: center;
    background: #007AAD;
    font-size: 1.125em;
    color:#ffffff;
    -moz-box-shadow:4px 4px rgba(210, 210, 210, 1);
    -webkit-box-shadow:4px 4px  rgba(210, 210, 210, 1);
    box-shadow: 3px 4px  rgba(210, 210, 210, 1);
    font-family: twist-font;
    letter-spacing: 1px;
    border: 0px;
    margin-top: 20px;
    cursor: pointer;
}

form #btn:hover{
    -moz-box-shadow: #6E7849 0px 0px 5px;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -webkit-box-shadow: #6E7849 0 0 5px;
    -webkit-transition: all 0.5s ease;
    background-color: #007AAD;
    background-image: -moz-linear-gradient(90deg, #0794cf, #007AAD);
    background-image: -ms-linear-gradient(90deg, #0794cf, #007AAD);
    background-image: -o-linear-gradient(90deg, #0794cf, #007AAD);
    background-image: -webkit-linear-gradient(90deg, #0794cf, #007AAD);
    background-image: linear-gradient(90deg, #0794cf, #007AAD);
    box-shadow: #6E7849 0px 0px 5px;
    transition: all 0.1s ease;
}

/*------FOOTER------*/	
footer{
    background: #161616;
    border-top: 8px solid #c3c3c3;
    padding: 10px 0px 30px 45px;
    height: 20px;
    color:#505050;
    font-family: "Arial",sans-serif;
}

/*--------Media Queries ---------*/

@media screen and (max-device-width:480px){

    .wrapper{
        width:480px;
        height: auto;
        margin:0px;
        padding: 0px;
    }

    header{
        width: inherit;
        height: 33em;
        background: url('../images/bg_header_small.jpg') no-repeat; 
        margin: 0px;
    }

    #logo img {
        margin:0% auto;
        float: none;
        cursor: pointer;
      
    }

    header article {
        width: inherit;
        margin: 20% auto;
        float: none;
       
    }

    #content{
        width:inherit;
        height: auto;
        margin-top: -4em;
     
    }

    #offer{
         width: 100%;
        float: none;
          margin: 0 auto;   
    }

    #form{
        float:none;
        margin-top: 2em;
        width: 100%;
    }

}


