@media screen and (max-device-width:480px){

    .wrapper{
        width:480px;
        height: auto;
        margin:0px;
        padding: 0px;
    }

    #header{
        top:0px;
        width: 100%;
        height: 49.375em;
        display: block;
        z-index: 300;
        background: url('../images/bg_header_small.jpg') no-repeat center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0px;
    }

    #header img {
        margin:8% 0% 10%;
        float: left;
        cursor: pointer;
        padding-left: 30px;
    }

    #header article {
        position: absolute;
        width: 480px;
        margin: 81% 0% 0% 0%;
        float: none;
        background: #161616;
    }

    #content{
        width:480px;
        height: auto;
        margin-top: -180px;
        padding-left: 20px;

    }

    #offer{
        width: 480px;
        float: none;
        padding-left: 0px;	
    }

    #form{
        float:none;
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        width: 480px;

    }

    #form header{
        text-align: left;
    }

    form{
        text-align: left;
    }

}
